.contenu{

    padding:80px 0;

    .wrapper{
        text-align: center;
    }

    .heading-contenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:80px;
    }

    p{
        max-width:70%;
    }

    .cartes{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:20px;
    }

    h3{
        padding: 20px 0;
    }
}

/*Media query*/

@media screen and (max-width: $breakpoint-xs){
    .cartes{
        display:grid;
        grid-template-columns: 1fr !important;
        gap:40px;
        article{
            background: white;
            border-radius: 12px;
            padding: 40px;
            h3{
                font-size: 3.6rem;
            }
            a{
                font-size: 1.6rem;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm){
    .contenu{
        p{
            max-width:100%;
        }
        .cartes{
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap:40px;
            article{
                background: white;
                border-radius: 12px;
                padding: 40px;
                h3{
                    font-size: 3.6rem;
                }
                a{
                    font-size: 1.6rem;
                }
            }
        }
    }
}

