header {

    background-color: var(--color-primary-darker);

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-header ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-md);
    }

    ul {
        list-style: none;
    }

    .nav-header a:hover {
        color: var(--color-white);
    }


}

.logo {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h4);
}

.menu-hamburger {
    span {
        width: 20px;
        height: 2px;
        background-color: black;
        display: block;
    }

    display: none;
    gap: 5px;
}

/*Media query*/
@media screen and (max-width: $breakpoint-sm){
    header{
        .nav-header, .bouton-header{
            display: none;
        }
        .wrapper{
            height: 120px;
        }
        .logo{
            text-transform: uppercase;
        }
    }


    .menu-hamburger{
        display: grid;
        span{
            width: 36px;
            height: 4px;
        }
    }
}


@media screen and (max-width: $breakpoint-xs){
    .nav-header, .bouton-header{
        display: none;
    }
    .menu-hamburger{
        display: grid;
    }
}
