/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: var(--color-secondary);
    }
}

.bouton-header{
    display:inline-flex;
    justify-content: center;
    align-items:center;

    background-color:var(--color-secondary-lighter);

    padding:5px 40px;
    border-radius:12px;

    color:var(--color-black);

    border:1px solid black;
}

.bouton-hero{
    display:inline-flex;
    justify-content: center;
    align-items:center;

    background-color:var(--color-secondary-darker);

    padding:5px 40px;
    border-radius:12px;

    color:var(--color-white);
}
